[Slack]

# Slack API key.
key = 

# Slack channel to post in when an anomoly is detected.
channel = 

[Email]

# Email address to mail when an anomoly is detected.
addr = foo@bar.com

[Training]

# Number of entries to use for training. These will be the first X number of items in the auth log.
count = 100

[General]

# Don't send alerts for failed logins.
only alert on successful login = True

# Actions to take when an anomaly is detected. 
actions = Slack
